section {
    height: 400px;
    border: solid black;
    font-family: 'Odibee Sans', cursive;
}

.navigation {
    height: 99vh;
    color: white;
    font-size: 30px;
}

footer {
    height: 100px;
    /* background-color: rgba(43, 41, 41, 0.925); */
    justify-content: space-evenly;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 400px;
    justify-content: space-around;
}

li {
    width: 200;
    text-decoration: none;
}

h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 800;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 200;
}

.opening-text {
    margin-left: 40px;
}

.openingtext-area {
    margin-left: 80px;
    flex-direction: column;
    height: 100%;
    display: flex;
}

.whole-page {
    background-image: url("images/topdowncomputerview.jpg");
    background-size: cover;
}

.logo {
    background-color: aqua;
}