    .whole-page {
        background-color: rgba(29, 29, 136, 0.6);
        background-image: url(images/topdowncomputerview.jpg);
        background-blend-mode: multiply;
        background-size: cover;
    }
    
    .main-header {
        color: rgb(240, 247, 241);
    }
    
    .section-one {
        color: rgb(240, 247, 241);
    }
    
    @import url(fonts);
    * {
        box-sizing: border-box;
        font-family: url(fonts\NarrowRoads-Regular.ttf);
    }
    
    .nav ul {
        margin: 0;
    }
    
    .nav li {
        display: inline;
    }
    
    img {
        border-radius: 40px;
        max-width: 100%;
        height: auto;
    }